@page 
@model WebApplication2.Pages.IndexModel
@{  
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
.submit {
background: #98D06A;
color: #fff;
border: 1px solid #fff;
height: 50px;
width: 100px;
border-radius: 20px;
}

</style>
    
    
</head>
<body>
    <h1>Kalkulator BMI</h1>
    <form method="post">
        <b>Wskaźnik BMI (body mass index) pozwala sprawdzić, czy nasza aktualna masa ciała jest prawidłowa 
        i czy nie jesteśmy zagrożeni otyłością oraz wszystkimi związanymi z nią powikłaniami.
        Nasz kalkulator BMI pomoże Ci szybko i wygodnie go obliczyć!</b><br /><br />
        <p style="font-size: 25px">Jeżeli chcesz poznać swoje BMI kliknij przycisk "Dalej"</p><br />

        <button class="submit">Dalej</button>

    </form>

    

</body>
</html>

