@page
@model WebApplication2.Pages.InfoModel
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="utf-8" />
    <title></title>
</head>
<body>
    <h1>Czym jest BMI?</h1>
    Wskaźnik masy ciała. Współczynnik powstały przez podzielenie masy ciała podanej w kilogramach przez kwadrat wysokości podanej w metrach.
    Klasyfikacja (zakres wartości) wskaźnika BMI została opracowana wyłącznie dla dorosłych i nie może być stosowana u dzieci.
    Oznaczanie wskaźnika masy ciała ma znaczenie w ocenie zagrożenia chorobami związanymi z nadwagą i otyłością, np. cukrzycą,
    chorobą niedokrwienną serca, miażdżycą. Przyjmuje się, że wyższe wartość BMI wiążą się ze zwiększonym ryzykiem dla zdrowia i życia.

    <br /><br />
    <b><p style="font-size=20px">Zakresy wartości BMI</p></b>
    <img src="~/bmi.jpg" alt="Zakres BMI" />

</body>
</html>